:root {
    --color-primary: #001B2E;
    --color-secondary: #6C0E23;
    --color-tertiary: #e4e4e4;
    --color-splash: #E7BB41;
    --color-contrast: #d8d8d8;
    --color-shaded1: #bdbdc0;
    --color-shaded2: #e8e8e9;

    --page-max-width: 1400px;
    --text-max-width: 50rem;
    
    --nav-width: 12em;
    --toc-width: 12em;

    --background-color: #f1f1f1;
    --header-background-color: #f1f1f1;
    --header-link-color: #505050;
    --header-active-link-color: #222222;
    --header-hover-link-color: #333346;

    --breadcrumbs-background-color: #e7e7e7;
    --breadcrumbs-border-color: #acacac;
    --breadcrumbs-link-color: #505050;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-color);
}

header {
    background-color: var(--header-background-color);
    // padding: 1rem 2rem;
    
    section.menu {
        margin: auto;
        padding: 0.4em 1em;
        max-width: var(--page-max-width);
        display: grid;
        grid-template-columns: 3em 4fr 1fr;

        .logo {
            img {
                height: 2em;
            }
        }

        .controls {
            text-align: right;

            button {
                background: linear-gradient(
                    transparent 10%,
                    var(--header-link-color) 10%,
                    var(--header-link-color) 25%,
                    transparent 25%,

                    transparent 40%,
                    var(--header-link-color) 40%,

                    var(--header-link-color) 60%,
                    transparent 60%,

                    transparent 75%,
                    var(--header-link-color) 75%,
                    var(--header-link-color) 90%,
                    transparent 90%
                );
                width: 1.6em;
                height: 1.8em;
                border: 0;
            }
        }

        nav {
            ul {
                list-style-type: none;
                margin: 0.5rem;
                padding: 0;
                
                li {
                    float: left;
                    padding: 0 0.4rem;
                    
                    a {
                        text-decoration: none;
                        color: var(--header-link-color);
                        font-weight: bold;

                        &:hover {
                            color: var(--header-hover-link-color);
                        }
                    }
                    
                    .active {
                        color: var(--header-active-link-color);
                        border-bottom: 1px solid var(--header-active-link-color);
                    }
                }
            }
        }
    }

    section.breadcrumbs {
        background-color: var(--breadcrumbs-background-color);
        margin: auto;
        max-width: var(--page-max-width);
        border-top: 1px solid var(--breadcrumbs-border-color);
        border-bottom: 1px solid var(--breadcrumbs-border-color);
        
        ul {
            list-style-type: none;
            padding: 0 0 0 1em;
            margin: 0.4em 0;

            li {
                display: inline;

                a {
                    color: var(--breadcrumbs-link-color);
                    text-decoration: none;

                    &:hover {
                        color: var(--header-hover-link-color);
                        border-bottom: 1px solid var(--header-active-link-color);
                    }
                }

                &::before {
                    content: '/ ';
                }
            }
        }

    }

    .title {
        border-top: 1px solid var(--breadcrumbs-border-color);
        background:
            linear-gradient(45deg, var(--color-secondary) 10%, transparent 10%),
            linear-gradient(45deg, var(--color-tertiary) 90%, var(--color-primary) 90%);
        max-width: var(--page-max-width);
        margin: auto;

        h1 {
            font-size: 4rem;
            color: var(--color-secondary);
            text-align: center;
            margin: 0;
            padding: 1.4em;
            text-shadow: 1px 1px 1px var(--color-primary)
        }
    }

}

main {

    article {
        display: grid;
        grid-template-columns: var(--nav-width) 1fr var(--toc-width);
        column-gap: 2em;
        max-width: var(--page-max-width);
        margin: auto;

        nav {
            margin-right: 1rem;
    
            ul {
                list-style-type: none;
                margin: 0;
                padding: 1em;
    
                li {
                    a {
                        color: var(--color-primary);
                        text-decoration: none;
    
                        &:hover {
                            color: var(--color-secondary);
                        }
                    }
                }
            }
        }

        .main {
            font-size: 1.2em;

            pre {
                padding: 1em;
            }
        
            p code {
                padding: 0.2em 0.6em;
                background-color: var(--color-shaded2);
            }
            
            h1 {
                font-size: 2rem;
                margin-top: 0.4em;
            }
        }

        .toc {
            padding-top: 1em;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0 1em;
    
                li {
                    a {
                        color: var(--color-primary);
                        text-decoration: none;
    
                        &:hover {
                            color: var(--color-secondary);
                        }
                    }
                }
            }
        }
    
    }

    .hero {
        background-color: var(--color-primary);
        color: var(--color-tertiary);
        font-size: 1.4em;
        text-align: justify;
        max-width: calc(var(--page-max-width) - 3.6em);
        padding: 2.2em 1.8em;
        margin: auto;
        
        strong {
            color: var(--color-splash);
        }
        
        p {
            margin: 0.2em;
        }
    }

    .boxes {
        margin-top: 1.4em;
        max-width: calc(var(--page-max-width) - 4em);
        padding: 2em 2em;
        margin: auto;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-column-gap: 3rem;
        grid-row-gap: 1rem;
    
        div {
            text-align: center;
    
            h3 {
                font-size: 1.2em;
    
                a {
                    text-decoration: none;
                    color: var(--color-secondary);
                }
            }
        }
    }
}
