<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="{{ config.base_url }}"><img src="/img/immich-dist.png" /></a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{ config.base_url }}">Start</a></li>
                    {% set root_section = get_section(path="_index.md") %}
                    {% for level1_sec in root_section.subsections %}
                    {% set page_section = get_section(path=level1_sec) %}
                        <li>
                            {% if page_section.path == current_path %}
                                <a href="{{ page_section.path }}" class="active">{{ page_section.title }}</a>
                            {% else %}
                                <a href="{{ page_section.path }}">{{ page_section.title }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="icons">
                <ul>
                    <li>💰</li>
                    <li>🔧</li>
                </ul>
            </div>
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
        </header>
        {% block docpage %}{% endblock docpage %}
    </body>
</html>
